@use "variables";
@use "breakpoints";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body {
  margin: 2rem 16rem;
  @include mixins.theme(light);

  * {
    color: var(--color-text, variables.$color-text);
    text-transform: lowercase;
    font-family: 'IM Fell DW Pica', serif;
    line-height: 1.5;
    text-align: justify;
    text-align-last: left;

    strong {
      text-shadow: 0.0025em 0 currentColor, 0 0.0025em currentColor, 0 -0.0025em currentColor, -0.0025em 0 currentColor;
    }

    blockquote {
      margin-left: 2rem;
      border-left: 0.15rem solid var(--color-grey);
      padding-left: 1rem;
      color: var(--color-grey);
    }

    hr {
      height: 1px;
      margin-bottom: 1.5em;
      background: var(--color-grey-2);
    }

    ::selection {
      background: var(--color-highlight);
    }
  }

  &.dark {
    @include mixins.theme(dark);

    background: variables.$color-background-dark;

    * {
      color: variables.$color-text-dark;

      blockquote {
        border-left: 0.15rem solid variables.$color-grey-dark;
        color: variables.$color-text-dark;
      }

      hr {
        background: variables.$color-grey-2-dark;
      }

      ::selection {
        background: variables.$color-highlight-dark;
      }
    }
  }
}
