@use "../../styles/variables";
@use "../../styles/mixins";

article {
  flex: 5;
  font-size: 1.1rem;

  h2 {
    margin-top: 0;
  }

  @include mixins.respond-to-max(md) {
    flex: none;
  }

  .loading {
    padding: 2rem;
    
    .ellipsis {
      display: inline-block;
      
      &::after {
        content: '';
        animation: ellipsis 1.5s infinite;
      }
    }
  }
}

@keyframes ellipsis {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}