@use "../../styles/variables";
@use "../../styles/mixins";

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;

  a {
    color: variables.$color-primary;
    text-decoration: none;
    border-bottom: 0.1rem solid variables.$color-grey;
    width: fit-content;

    &:hover {
      border-bottom: 0.1rem solid currentColor;
    }

    &.active {
      border-bottom: none;
    }
  }
}